<div class="container" *ngIf="user">
    <label class="form-header-label" *ngIf="me.id === user.id">Personal information</label>
    <label class="form-header-label" *ngIf="me.id !== user.id">Edit user</label>
    <div class="highlighted-box" [formGroup]="form">
        <div class="row spacing-row">
            <div class="col-md-3 text-right">
                <label for="email">Email</label>
            </div>
            <div class="col-md-5">
                <input
                    type="text"
                    formControlName="email"
                    id="email"
                    [ngClass]="{'form-control': true, 'is-valid': isSubmittedAndValid('email'), 'is-invalid': isSubmittedAndInvalid('email')}"
                />
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row spacing-row">
            <div class="col-md-3 text-right">
                <label for="first_name">First name</label>
            </div>
            <div class="col-md-5">
                <input
                    type="text"
                    formControlName="firstName"
                    id="first_name"
                    [ngClass]="{'form-control': true, 'is-valid': isSubmittedAndValid('firstName'), 'is-invalid': isSubmittedAndInvalid('firstName')}"
                />
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row spacing-row">
            <div class="col-md-3 text-right">
                <label for="last_name">Last name</label>
            </div>
            <div class="col-md-5">
                <input
                    type="text"
                    formControlName="lastName"
                    id="last_name"
                    [ngClass]="{'form-control': true, 'is-valid': isSubmittedAndValid('lastName'), 'is-invalid': isSubmittedAndInvalid('lastName')}"
                />
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row spacing-row">
            <div class="col-md-3 text-right">
                <label for="address">Address</label>
            </div>
            <div class="col-md-5">
                <input
                    type="text"
                    formControlName="address"
                    id="address"
                    [ngClass]="{'form-control': true, 'is-valid': isSubmittedAndValid('address'), 'is-invalid': isSubmittedAndInvalid('address')}"
                />
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row spacing-row">
            <div class="col-md-3 text-right">
                <label for="phone">Phone number</label>
            </div>
            <div class="col-md-5">
                <input
                    type="text"
                    formControlName="phone"
                    id="phone"
                    [ngClass]="{'form-control': true, 'is-valid': isSubmittedAndValid('phone'), 'is-invalid': isSubmittedAndInvalid('phone')}"
                />
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row spacing-row">
            <div class="col-md-3 text-right">
                <label for="age">Age</label>
            </div>
            <div class="col-md-5">
                <input
                    type="number"
                    formControlName="age"
                    id="age"
                    [ngClass]="{'form-control': true, 'is-valid': isSubmittedAndValid('age'), 'is-invalid': isSubmittedAndInvalid('age')}"
                />
            </div>
            <div class="col-md-4"></div>
        </div>

        <div style="border: 1px solid black; padding: 15px; margin:10px;" *ngIf="user.id === me.id">
            <label class="form-header-label">
                Password change
            </label>
            <div class="row spacing-row">
                <div class="col-md-3 text-right">
                    <label for="password">Password</label>
                </div>
                <div class="col-md-5">
                    <input
                        type="password"
                        formControlName="password"
                        id="password"
                        [ngClass]="{'form-control': true, 'is-valid': isSubmittedAndValid('password'), 'is-invalid': isSubmittedAndInvalid('password')}"
                    />
                </div>
                <div class="col-md-4"></div>
            </div>
            <div class="row spacing-row">
                <div class="col-md-3 text-right">
                    <label for="password_confirm">Password Confirm</label>
                </div>
                <div class="col-md-5">
                    <input
                        type="password"
                        formControlName="passwordConfirm"
                        id="password_confirm"
                        [ngClass]="{'form-control': true, 'is-valid': isSubmittedAndValid('passwordConfirm'), 'is-invalid': isSubmittedAndInvalid('passwordConfirm')}"
                    />
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
        <div class="row spacing-row">
            <div class="col-md-10"></div>
            <div class="col-md-2">
                <button
                    class="btn btn-success"
                    (click)="submit()"
                >
                    Save
                </button>
            </div>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <app-experience-form
        (formSubmit)="modalSubmit(modal, $event)"
        (crossClick)="modalClose(modal)"
    ></app-experience-form>
</ng-template>


