<div class="card" style="width: 18rem;">
    <img class="card-img-top" [src]="post.image_path" [alt]="post.image"/>
    <div class="card-body">
        <h5 class="card-title">{{post.name | length: 20}}</h5>
        <p class="card-text">{{post.description | length: 75}}</p>
        <div class="post-info">
            <span *ngIf="post.localisation"><i class="fa fa-map-marker"></i>{{post.localisation}}</span>
            <span *ngIf="post.start_date"><i class="fa fa-calendar"></i>{{post.start_date}}</span>
        </div>
    </div>
</div>
