<div class="card" style="width: 18rem;">
    <i
        class="fa fa-star-o favorite-icon favorite-star"
        *ngIf="post.userId !== me && !isFavorite"
        (click)="addToFavorites()"
    ></i>
    <i
        class="fa fa-times favorite-icon"
        *ngIf="post.userId !== me && isFavorite"
        (click)="removeFromFavorites()"
    ></i>
    <img
        class="card-img-top"
        *ngIf="!post.imagePath"
        [src]="'assets/images/no_image.png'"
        [alt]="post.title"
        width="286"
        height="180"
    />
    <img
        class="card-img-top"
        *ngIf="post.imagePath"
        [src]="post.imagePath"
        [alt]="post.title"
        width="286"
        height="180"
    />
    <div class="card-body">
        <h5 class="card-title">
            <span (click)="titleClick.emit(null)" class="cursor-pointer">
                {{post.title | length: 20}}
            </span>
            <span class="action-icons">
                <i
                    (click)="editPost()"
                    class="fa fa-pencil clickable-icon"
                    [ngbTooltip]="'edit post'| translate"
                    *ngIf="post.userId === me">
                </i>
                <i
                    (click)="removePost()"
                    class="fa fa-trash clickable-icon"
                    [ngbTooltip]="'delete post'| translate"
                    *ngIf="post.userId === me">
                </i>
            </span>
        </h5>
        <p class="card-text">
            {{post.description | length: 100}}
        </p>
    </div>
    <div class="card-footer">
        <div class="post-info">
            <span *ngIf="post.jobLocation">
                <i class="fa fa-map-marker"></i>
                {{post.jobLocation}}
            </span>
            <span *ngIf="post.dateCreated">
                <i class="fa fa-calendar"></i>
                {{post.dateCreated | date: 'yyyy-MM-dd'}}
            </span>
        </div>
    </div>
</div>
