<div class="nav-container">
    <div class="container">
        <div class="nav-spacer"></div>
        <ul class="nav nav-pills">
            <li class="nav-item mr-auto">
                <img [src]="'assets/images/logo.png'" alt="logo" class="cursor-pointer" [routerLink]="'/'" />
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLinkActive]="'active'" [routerLink]="['/', 'posts']">{{ 'menu.announces' | translate }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLinkActive]="'active'" [routerLink]="['my-posts']">{{ 'menu.my_added' | translate }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLinkActive]="'active'" [routerLink]="['favorites']">
                    {{ 'menu.favorites' | translate }}
                    <sup class="superscript-number">{{favorites$| async}}</sup>
                </a>
            </li>
            <li class="nav-item ml-auto">
                <div class="d-inline-block m-auto">
                    <i class="fa fa-user d-inline-block"></i>
                </div>

                <div ngbDropdown class="d-inline-block">
                    <div class="d-flex flex-wrap" style="max-width: 150px;">
                        <span style="margin: 2px;">{{user.firstName | length: 40}}</span>
                        <span style="margin: 2px;">{{user.lastName | length: 40}}</span>
                    </div>

                    <button class="btn btn-outline-primary no-borders" id="dropdownBasic1" ngbDropdownToggle>{{user.email| length: 30}}</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button ngbDropdownItem [routerLink]="['users', 'edit', user.id]"><i class="fa fa-address-card-o"></i> &nbsp;Profile</button>
                        <button ngbDropdownItem (click)="logout()"><i class="fa fa-power-off"></i> &nbsp;Logout</button>
                        <button ngbDropdownItem [routerLink]="['users']"><i class="fa fa-users"></i> &nbsp;Users list</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>

</div>
