<div class="login-background">
    <div class="w-25 m-auto justify-content-center">
        <div class="login-container">
            <div class="row h-100">
                <div class="col-md-4">
                    <div class="login--image">
                        <img [src]="'/assets/images/logo.png'" width="150" height="150" style="margin: auto">
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="login--form">
                        <form class="form-group" [formGroup]="form">
                            <h5>Authentication!</h5>
                            <input class="form-control" type="text" />
                            <input class="form-control" type="password" />
                            <button class="btn btn-light btn-info">test</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

