<div class="login-background">
    <div class="w-25 m-auto justify-content-center">
        <div class="login-container">
            <div class="row h-100">
                <div class="col-md-4">
                    <div class="login--image">
                        <img [src]="'/assets/images/logo.png'" width="150" height="150" style="margin: auto">
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="login--form d-flex">
                        <form class="form-group m-auto" [formGroup]="form" *ngIf="page === pages.login">
                            <h5 class="text-center">Authentication!</h5>
                            <label for="login-email" class="d-none"></label>
                            <input
                                id="login-email"
                                [ngClass]="{'form-control': true, 'is-invalid': isInvalid('email')}"
                                type="text"
                                formControlName="email"
                                [placeholder]="'E-mail'"
                            />
                            <label for="login-password" class="d-none"></label>
                            <input

                                id="login-password"
                                [ngClass]="{'form-control': true, 'is-invalid': isInvalid('password')}"
                                type="password"
                                formControlName="password"
                                [placeholder]="'password'"
                            />
                            <button class="btn btn-light btn-info m-1" (click)="login()">Login</button>
                            <a class="btn-link m-1 clickable" href="/public/login#" (click)="changePage(pages.resetPassword)">Forgot password</a>
                            <button class="btn btn-xl btn-info w-100" [routerLink]="['/', 'public', 'register']">Register</button>
                        </form>

                        <form class="form-group m-auto" [formGroup]="resetPasswordForm" *ngIf="page === pages.resetPassword">
                            <h5 class="text-center">Reset password!</h5>
                            <label for="resetPassword-email" class="d-none"></label>
                            <input
                                id="resetPassword-email"
                                [ngClass]="{'form-control': true, 'is-invalid': isInvalid('email')}"
                                type="text"
                                formControlName="email"
                                [placeholder]="'E-mail'"
                            />
                            <button class="btn btn-light btn-info m-1" (click)="resetPassword()">Reset Password</button>
                            <a class="btn-link m-1 clickable" href="/public/login#" (click)="changePage(pages.login)">Login</a>
                            <button class="btn btn-xl btn-info w-100" [routerLink]="['/', 'public', 'register']">Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="loading" *ngIf="loading"></div>
