<div class="modal-header">
    <h4 class="modal-title">Create experience</h4>
    <button type="button" class="close" aria-label="Close" (click)="onCrossClick()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="form">
        <div class="form-row modal-form">
            <div class="col-md-4">
                <label for="companyName">Company Name</label>
            </div>
            <div class="col-md-8">
                <input
                    formControlName="companyName"
                    type="text"
                    [ngClass]="{'form-control': true, 'is-valid': isSubmittedAndValid('companyName'), 'is-invalid': isSubmittedAndInvalid('companyName')}"
                    id="companyName"
                    placeholder="Company Name"
                />
            </div>
        </div>
        <div class="form-row modal-form">
            <div class="col-md-4">
                <label for="startDate">Start Date</label>
            </div>
            <div class="col-md-8">
                <input
                    formControlName="dateStarted"
                    type="date"
                    [ngClass]="{'form-control': true, 'is-valid': isSubmittedAndValid('dateStarted'), 'is-invalid': isSubmittedAndInvalid('dateStarted')}"
                    id="startDate"
                    placeholder="Start Date"
                />
            </div>
        </div>
        <div class="form-row modal-form">
            <div class="col-md-4">
                <label for="endDate">End Date</label>
            </div>
            <div class="col-md-8">
                <input
                    formControlName="dateEnded"
                    type="date"
                    [ngClass]="{'form-control': true, 'is-valid': isSubmittedAndValid('dateEnded'), 'is-invalid': isSubmittedAndInvalid('dateEnded')}"
                    id="endDate"
                    placeholder="End Date"
                />
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="onFormSubmit()">Submit form</button>
</div>
