<div class="container">
    <div [formGroup]="searchForm" class="management-area">
        <div class="w-75 border-raw d-inline-block">
            <div class="form-inline active-pink-3 active-pink-4">
                <input
                    class="form-control form-control-sm mr-3 w-95"
                    type="text"
                    placeholder="Search"
                    formControlName="name"
                    aria-label="Search"
                    aria-describedby="searchBlock"
                />
                <i class="fa fa-search btn-icon clickable-icon" aria-hidden="true"></i>
            </div>
        </div>
        <div class="d-inline-block w-25">
            <button class="btn btn-info w-75 m-3" (click)="openVerticallyCentered(content)">Create add</button>
        </div>
        <div class="filters">
            <div class="row justify-content-center text-center">
                <div class="col-md-4 text-left labeled-input">
                    <label class="d-inline-flex m-auto" for="startDate">
                        start date
                    </label>
                    <input
                        id="startDate"
                        class="form-control d-inline-flex w-80"
                        type="date"
                        formControlName="startDate"
                    />
                </div>
                <div class="col-md-4 text-left">
                    <ng-select
                        class="form-control"
                        [items]="users$| async"
                        [typeahead]="usersObserver"
                        [hideSelected]="true"
                        bindValue="id"
                        bindLabel="username"
                        formControlName="user"
                        [placeholder]="'user ... '"
                    >
                    </ng-select>
                </div>
                <div class="col-md-4 text-left">
                    <ng-select
                        class="form-control"
                        [items]="educations$| async"
                        [typeahead]="educationObserver"
                        formControlName="education"
                        bindValue="id"
                        bindLabel="specialityName"
                        [placeholder]="'education ... '"
                    >
                    </ng-select>
                </div>
            </div>
            <div class="separator"></div>
            <div class="row justify-content-center text-center">
                <div class="col-md-4 text-left labeled-input">
                    <label class="d-inline-flex m-auto" for="endDate">
                        end date
                    </label>
                    <input
                        id="endDate"
                        class="form-control d-inline-flex w-80"
                        type="date"
                        formControlName="endDate"
                    />
                </div>
                <div class="col-md-4 text-left">
                    <ng-select
                        class="form-control"
                        formControlName="location"
                        [items]="locations"
                        [placeholder]="'location ... '"
                    >
                    </ng-select>
                </div>
                <div class="col-md-4 text-left">
                    <ng-select
                        class="form-control"
                        [items]="activities$| async"
                        [typeahead]="activityObserver"
                        [hideSelected]="true"
                        bindValue="id"
                        bindLabel="activityName"
                        formControlName="activity"
                        [placeholder]="'activity ... '"
                    >
                    </ng-select>
                </div>
            </div>
        </div>
        <small id="searchBlock" class="form-text text-muted text-center w-75">
            I do not say that I don't want to work. I say that I don't want to twerk.
        </small>
    </div>
    <div class="post-collection card-deck">
        <app-post
            [ngClass]="'card-deck'"
            [isFavorite]="true"
            *ngFor="let post of posts$|async"
            [post]="post"
            [me]="me.id"
            (titleClick)="openShow(post)"
            (favorite)="removeFromFavorites($event, post)"
        ></app-post>
    </div>
</div>

<ng-template #content let-modal>
    <app-post-form
        [post]="postToEdit"
        (formSubmit)="modalSubmit(modal)"
        (crossClick)="modalClose(modal)"
    ></app-post-form>
</ng-template>

<ng-template #contentShow let-modal>
    <app-post-show
        [post]="postToShow"
        (closeShow)="modalClose(modal)"
    ></app-post-show>
</ng-template>
